main {
  margin-top: 40px;
}

.chartContainer,
.light-chartContainer,
.dark-chartContainer {
  max-width: 960px;
  height: 350px;
}

.light-chartContainer .recharts-default-tooltip {
  background-color: #999;
  opacity: 0.8;
}

.light-chartContainer tspan {
  font-size: 0.75em;
}

.dark-chartContainer tspan {
  font-size: 0.75em;
  color: #666;
  text-shadow: 1px 1px black;
}

.dark-chartContainer h2 {
  color: #bbbbbb;
  text-shadow: 1px 1px black;
  font-size: 140%;
}
.light-chartContainer h2 {
  color: #555;
  font-size: 140%;
}

p.calorieScore {
  display: block;
  margin: 0px 27px -32px -15px;
  color: #8884d8;
  font-size: 150%;
  text-shadow: 1px 1px black;
  text-align: right;
}

.dark-chartContainer .recharts-default-tooltip {
  background-color: #000000;
  opacity: 0.8;
  text-shadow: 1px 1px black;
}
.dark-chartContainer .recharts-legend-item-text {
  color: #bbbbbb;
  text-shadow: 1px 1px black;
  font-size: 80%;
}
.light-chartContainer .recharts-legend-item-text {
  color: #666;
  font-size: 80%;
}

.demoIntro {
  margin: 0px 5px 60px 5px;
  padding: 10px 30px;
  border: 1px solid #111;
  background-color: #232323;
}

.gadgets {
  max-width: 960px;
  margin-top: -5px;
  margin-bottom: 125px;
}
.gadgets .container {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-gap: 10px;
  justify-content: space-evenly;
}
.gadgets .gadget {
  font-size: 26px;
  margin: 10px 0;
}
.homeCharts {
  max-width: 960px;
}
