main {
  margin-top: 40px;
}

.chart {
  height: 50vh;
  width: 100%;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.chart:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.chartContainer tspan {
  font-size: 0.75em;
  color: #eeeeee;
  text-shadow: 1px 1px black;
}

.chartContainer h4 {
  color: #bbbbbb;
  text-shadow: 1px 1px black;
  display: block;
  text-align: center;
  margin: 0px 15px -5px 15px;
  padding: 0;
  font-size: 140%;
}
p.calorieScore {
  display: block;
  margin: 0px 27px -32px -15px;
  color: #8884d8;
  font-size: 150%;
  text-shadow: 1px 1px black;
  text-align: right;
}

.recharts-default-tooltip {
  background-color: #000000;
  opacity: 0.8;
  text-shadow: 1px 1px black;
}
.recharts-legend-item-text {
  text-shadow: 1px 1px black;
}

.demoIntro {
  margin: 0px 5px 60px 5px;
  padding: 10px 30px;
  border: 1px solid #111;
  background-color: #232323;
}

.gadgets {
  max-width: 960px;
  margin-top: 20px;
  padding-top: 20px;
}
.gadgets .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  text-align: center;
}
.gadgets .gadget {
  font-size: 46px;
  margin: 10px 0;
}

@media (max-width: 700px) {
  .gadgets .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 350px) {
  .gadgets .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
